body{
  background-color: white;
}
.parallax-container {
    height:400px;
    margin: 20px;
}

.parallaxImage{
  width:100%;
}

nav .brand-logo {
  margin-left: 15px;
}

.icons {
  font-size: 100px;
}

.contactIcon {
  font-size: 100px;
}

.card {
  padding: 2px;
}

.github {
  font-size: 30px;
}

.card-content {
  height:198px;
}

.card-image {
  height:287px;
}

.sidenav-trigger{
  z-index: 100;
}

/* toggle the icon on collapsible */
.openIcon{
  display:inline-block;
}

.closeIcon {
  display: none !important;
}

.collapsible li.active .closeIcon{
  display: inline-block !important;
}

.collapsible li.active .openIcon{
  display:none !important;
}

#goto {
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 99;
  transition: background-color .3s, 
  opacity .5s, visibility .5s;
  display: none;
  /* opacity: 0; */
}

#material-icons {
  font-size: 20px
}



