body{
  background-color: white;
}
.parallax-container {
    height:400px;
    margin: 20px;
}

nav .brand-logo {
  margin-left: 15px;
  color: black;
 
}

nav .sideLinks {
  color: black;
}

i {
  font-size: 100px;
}

.card {
  padding: 2px;
}

#goto {
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 99;
  transition: background-color .3s, 
  opacity .5s, visibility .5s;
  display: none;
  /* opacity: 0; */
}

#goto:hover {
  background-color: plum;
}

#material-icons {
  font-size: 20px
}

#aboutMe {
  text-align: center;
}

